@import "../base/variables";

footer{
    background-color: blue;
    
    .footer_total{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    p{
        text-align: justify;
        font-size: 35px;
        text-decoration: none;
        color: $bg-amarillo;
    }
    a{
        align-items: flex-end;
    }

}